/* ----------header-------*/

header {
    background-color: black;
    padding: 20px;
}

.logo {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
}

.nav-link {
    color: #fff;
    font-family: 'Syne Mono', monospace, sans-serif;
    font-size: 30px;
}

.nav-item {
    padding-right: 20px;
}

.nav-link:hover {
    color: grey;
     }