/* ----------header-------*/

header {
    background-color: black;
    padding: 20px;
}

.logo {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
}

.nav {
    text-align: center;
}

.nav-link {
    color: #fff;
    font-family: 'Syne Mono', monospace, sans-serif;
    font-size: 30px;
}

.nav-item {
    padding-right: 20px;
}

.nav-link:hover {
    color: grey;
     }

.booknow:hover {
    color: yellow;
}
     /* ----------footer main-------*/

footer {
    background-color: black;
    height: 200px;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: solid 1px white;
}
    /* ----------footer locations -------*/
.locations {
      font-family: 'Special Elite', cursive, sans-serif;
      font-size: 15px;
      color: white;
      padding-top: 15px;
text-align: center;
padding-left: 30px;
}


.address-list {
    padding-left: 30px;
    text-align: center;
    color: white;
    font-family: 'Syne Mono', monospace, sans-serif;
}

.address-list a {
    color: white;
}

.address-list a:hover {
    color: grey;
    text-decoration: none;
    

}
.location-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

    /* ----------footer contact us -------*/
.contact-us {
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    padding-top: 24px;
}

.contact-us h4 {
    font-size: 30px;
    text-align: center;
    font-family: 'Special Elite', cursive, sans-serif;
}

.contact-us h5 {
    font-size: 15px;
    line-height: 2;
    text-align: center;
    font-family: 'Syne Mono', monospace, sans-serif;
}

    /* ----------footer socials-------*/

.social-networks {
      font-family: 'Syne Mono', monospace, sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 24px;
text-align: center;
padding-left: 50px;
}

.social-title {
    padding-bottom: 20px;
    font-family: 'Special Elite', cursive, sans-serif;
}

.social-list a{
    color: white;
}

.social-list a:hover{
    color: grey;
}


    /* ----------background-pic-------*/

.background-pic {
    overflow: hidden;
    position: relative;
    height: 600px;
    width: 100%;
    background: url(https://d2z8nyy70yf33i.cloudfront.net/wp-content/uploads/jigsaw-hero-1400x788.jpg) no-repeat  

}

#hero-image {
    height: 600px;
}

    /* ----------slogan-------*/

.slogan {
    position: absolute;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 100px;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 30px;
    right: 150px;
}

.slogan h3 a {
color: white;
text-decoration: none;
font-weight: 50%;
}

.slogan h3 a:hover {
    color: yellow;
}

    /* ----------reviews-------*/

.review-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Syne Mono', monospace, sans-serif;
    overflow: hidden;
}

.review-text {
    padding-top:5px;
    background-color: rgba(37, 33, 33, 0.5);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 90px;
}

.review-text h4 {
    font-size: 20px;
    letter-spacing: 4px;
}

.review-text h5 {
    font-size: 9px;
}

h3 i {
    color: gold;
    font-size: 15px;
}

 /* ----------room overview on homepage-------*/

.room-overview {
    height: 100%;
    position: relative;
    overflow: hidden;
}

    /* ----------media screens-------*/

@media screen and (max-width: 800px){
    .logo{
        text-align: center;
    }
    .nav-link i{
        display: none;
    }
    .nav {
        text-align: center;
    }
    .locations, .contact-us, .social-networks {
        padding-top: 10px;
        text-align: center;
    }
    .locations {
        padding-left: 0;
        padding-right: 0;
    }
    .social-list {
        font-size: 20px;
    }
    .social-title{
        padding-bottom: 0;
    }
    .social-networks{
        padding-left: 0;
    }
    .address-list {
    padding-left: 3px;
    }
    
    footer {
        height: 330px;
    }

    .slogan {
        width: 100%;
        right: 0px;
        bottom: 1px;
    }