/* ----------header-------*/

header {
    background-color: black;
    padding: 20px;
}

.logo {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
}

.nav {
    text-align: center;
}

.nav-link {
    color: #fff;
    font-family: 'Syne Mono', monospace, sans-serif;
    font-size: 30px;
}

.nav-item {
    padding-right: 20px;
}

.nav-link:hover {
    color: grey;
     }

.booknow:hover {
    color: yellow;
}
     /* ----------footer main-------*/

footer {
    background-color: black;
    height: 200px;
    overflow: hidden;
    text-align: center;
}
    /* ----------footer locations -------*/
.locations {
      font-family: 'Special Elite', cursive, sans-serif;
      font-size: 15px;
      color: white;
      padding-top: 15px;
text-align: center;
padding-left: 30px;
}


.address-list {
    padding-left: 30px;
    text-align: center;
    color: white;
    font-family: 'Syne Mono', monospace, sans-serif;
}

.address-list a {
    color: white;
}

.address-list a:hover {
    color: grey;
    text-decoration: none;
    

}
.location-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

    /* ----------footer contact us -------*/
.contact-us {
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    padding-top: 24px;
}

.contact-us h4 {
    font-size: 30px;
    text-align: center;
    font-family: 'Special Elite', cursive, sans-serif;
}

.contact-us h5 {
    font-size: 15px;
    line-height: 2;
    text-align: center;
    font-family: 'Syne Mono', monospace, sans-serif;
}

    /* ----------footer socials-------*/

.social-networks {
      font-family: 'Syne Mono', monospace, sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 24px;
text-align: center;
padding-left: 50px;
}

.social-title {
    padding-bottom: 20px;
    font-family: 'Special Elite', cursive, sans-serif;
}

.social-list a{
    color: white;
}

.social-list a:hover{
    color: grey;
}


    /* ----------background-pic-------*/

.background-pic {
    overflow: hidden;
}

    /* ----------media screens-------*/

@media screen and (max-width: 800px){
    .logo{
        text-align: center;
    }
    .nav-link i{
        display: none;
    }
    .nav {
        text-align: center;
    }
    .locations, .contact-us, .social-networks {
        padding-top: 10px;
        text-align: center;
    }
    .locations {
        padding-left: 0;
        padding-right: 0;
    }
    .social-list {
        font-size: 20px;
    }
    .social-title{
        padding-bottom: 0;
    }
    .social-networks{
        padding-left: 0;
    }
    .address-list {
    padding-left: 3px;
    }
    
    footer {
        height: 330px;
    }