/* ----------header-------*/

header {
    background-color: black;
    padding: 20px;
    border-bottom: solid 2px white;
}

.logo {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    }

.nav {
    text-align: center;
}

.nav-link {
    color: #fff;
    font-family: 'Syne Mono', monospace, sans-serif;
    font-size: 30px;
}

.nav-item {
    padding-right: 20px;
}

.nav-link:hover {
    color: grey;
     }

.booknow:hover {
    color: yellow;
}
     /* ----------footer main-------*/

footer {
    background-color: black;
    height: 200px;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: solid 2px white;
}
    /* ----------footer locations -------*/
.locations {
      font-family: 'Special Elite', cursive, sans-serif;
      font-size: 15px;
      color: white;
      padding-top: 15px;
text-align: center;
padding-left: 30px;
}


.address-list {
    padding-left: 30px;
    text-align: center;
    color: grey;
    font-family: 'Syne Mono', monospace, sans-serif;
}

.address-list a {
    color: grey;
}

.address-list a:hover {
    color: white;
    text-decoration: none;
    

}
.location-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

    /* ----------footer contact us -------*/
.contact-us {
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    padding-top: 24px;
}

.contact-us h4 {
    font-size: 30px;
    text-align: center;
    font-family: 'Special Elite', cursive, sans-serif;
}

.contact-us h5 {
    font-size: 15px;
    line-height: 2;
    text-align: center;
    font-family: 'Syne Mono', monospace, sans-serif;
}

.contact-us h5 a {
    text-decoration: none;
    color: grey;
}

.contact-us h5 a:hover {
    color: white;
}

    /* ----------footer socials-------*/

.social-networks {
      font-family: 'Syne Mono', monospace, sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 24px;
text-align: center;
padding-left: 50px;
}

.social-title {
    font-size: 30px;
    color: white;
    padding-top: 20px;
    text-align: center;
    padding-left: 40px;
    font-family: 'Special Elite', cursive, sans-serif;
}

.social-list a{
    color: grey;
}

.social-list a:hover{
    color: white;
}


    /* ----------background-pic-------*/

.background-pic {
    overflow: hidden;
    position: relative;
    height: 600px;
    width: 100%;
    background: url(https://d2z8nyy70yf33i.cloudfront.net/wp-content/uploads/jigsaw-hero-1400x788.jpg) no-repeat;
    background-size: cover;
    border-bottom: 2px solid white;

}

#hero-image {
    height: 600px;
}

    /* ----------slogan-------*/

.slogan {
    position: absolute;
    color:black;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 10px;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    padding-top: 30px;
        background-color: rgba(255, 254, 254, 0.7);
    bottom: 80px;
    right: 150px;
}



.slogan h3 a {
 color: black;
text-decoration: none;

padding: 5px;
font-size: 35px;
}

.slogan h3 a:hover {
    color: red;
}


    /* ----------reviews-------*/

.container-fluid {
    background-color: black;
}
.review-section {
    
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Syne Mono', monospace, sans-serif;
    border-bottom: 2px solid white;
    
}

.review-text {
    padding-top:5px;
    background-color: rgba(37, 33, 33, 0.5);
    margin-top: 0;
    margin-bottom: 0;
    
}

.review-text h2 a {
    font-size: 30px;
    padding-top: 3px;
    color: white;
    text-decoration: none;
}
.review-text h4 {
    font-size: 20px;
    letter-spacing: 4px;
}

.review-text h5 {
    font-size: 12px;
    padding-bottom: 10px;
}

h3 i {
    color: gold;
    font-size: 25px;
}

 /* ----------room overview on homepage-------*/


.room-overview {
   border: 200px solid black; 
   border-top: 100px solid black; 
   border-bottom: 100px solid black;
       }

.carousel-caption h5 {
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: 4px;
}

.carousel-caption p {
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: 4px;
}

 /* ----------room page-------*/



.rooms-title {
    text-align: center;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 10px;
    border-bottom: solid 2px white;

}

.room-shipwrecked {
    padding-top: 30px;
    padding-bottom: 10px;
    overflow: hidden;
    background-image: url(https://wallpaperset.com/w/full/a/d/1/178256.jpg);
    background-size: cover;
    border-bottom: solid 2px white;
}

.room-name {
     text-align: center;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.left-video {
    position: relative;
    overflow: hidden;
    width: 80%;
    
}

.right-video {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.shipwrecked-text {
    color: white;
    position: relative;
    overflow: hidden;
    font-family: 'Syne Mono', monospace, sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    }

.saw-text {
    color: white;
    position: relative;
    overflow: hidden;  
    font-family: 'Syne Mono', monospace, sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-bottom: 30px; 
    width: 70%;   
}

.room-bionic {
    
    padding-top: 30px;  
    padding-bottom: 10px;
    overflow: hidden;
    background-image: url(https://wallpaperset.com/w/full/a/a/3/21499.jpg);
    background-size: cover;
    border-bottom: solid 2px white;
}
.room-saw {
    
    padding-top: 30px;
    padding-bottom: 10px;
    overflow: hidden;
    background-image: url(https://wallpaperset.com/w/full/7/c/a/339227.jpg);
    background-size: cover;
    border-bottom: solid 2px white;
}

.room-text-yellow {
    color: rgb(211, 211, 7);
}

.book-now-room {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    margin-top: 10px;
}

 /* ----------booking form-------*/

.booking-title {
     text-align: center;
    color: white;
    font-family: 'Special Elite', cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    padding-bottom: 30px;
    background-color: black;
    padding-top: 30px;
}
form {
    padding-top: 20px;
    background-color: black;
    padding-bottom: 50px;
}

.form-group {
    width: 50%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    left: 275px;;
    position: relative;
    font-family: 'Syne Mono', monospace, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    }

.form-check-label {
    font-size: 15px;
}
.final-book {
    font-size: 50px;
    width: 100%
    }

.final-book:hover{
    color: yellow;
    }




    /* ----------media screens-------*/

@media screen and (max-width: 1050px){

    .logo {
        margin-top: 20px;
    }
    .locations, .contact-us, .social-networks {
        padding-top: 10px;
        text-align: center;
    }

    .contact-us {
        margin-top: 10px;
    }
    .locations {
        padding-left: 0;
        padding-right: 0;
    }
    .social-list {
        font-size: 20px;
    }
    .social-title{
        padding-bottom: 0;
        padding-left: 0px;
    }
    .social-networks{
        padding-left: 0;
    }
    .address-list {
    padding-left: 3px;
    }
    
    footer {
               overflow: hidden;
    }

    .slogan {
        width: 100%;
        right: 0px;
        margin-bottom: 50px;
    }

.rooms-title {
       font-size: 30px;
}
    .room-overview {
        border: 10px solid black;
            }

.review-section {
    padding-top: 5px;
    padding-bottom: 5px;
}
    .review-text {
        
        padding-top: 10px;
        padding-bottom: 10px;
}

h3 i {
    font-size: 20px;
}
.room-name {
  
    font-size: 30px;
    letter-spacing: 2px;
    
}

.left-video {
    position: relative;
    margin-bottom: 30px;
    margin-left: 0px;
    
    }

.right-video {
    position: relative;
    margin-bottom: 30px;
    margin-left: 0px;
    
    
}

.shipwrecked-text {
    
    width: 90%;
    padding: 0px;
    
    
}

.saw-text {
   width: 90%;
   padding: 0px;
   
   
}

.form-group {
    width: 90%;
    left: 5%;
}

.booking-title{
    font-size: 30px;
}
}

@media screen and (max-width: 850px){
    .logo{
        text-align: center;
    }
    .nav-link i{
        display: none;
    }
    .nav {
        text-align: center;
    }
    .locations, .contact-us, .social-networks {
        padding-top: 10px;
        text-align: center;
    }
    .locations {
        padding-left: 0;
        padding-right: 0;
    }
    .social-list {
        font-size: 20px;
    }
    .social-title{
        padding-bottom: 0;
        padding-left: 0px;
    }
    .social-networks{
        padding-left: 0;
    }
    .address-list {
    padding-left: 3px;
    }
    
    footer {
        height: 370px;
        overflow: hidden;
    }

    .slogan {
        width: 100%;
        right: 0px;
        margin-bottom: 50px;
    }

    .room-overview {
        border: 10px solid black;
    }

.review-section {
    padding-top: 5px;
    padding-bottom: 5px;
    }

.review-text {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    }

.rooms-title {
       font-size: 30px;
}

.room-name {
    font-size: 30px;
    letter-spacing: 2px;
    }

.left-video {
    position: relative;
    margin-bottom: 10px;
    margin-left: 0px;
}

.right-video {
    position: relative;
    margin-bottom: 10px;
    margin-right: 0px;
      
    }

.shipwrecked-text {
    width: 100%;
    padding: 0px;
    }

.saw-text {
   width: 100%;
    padding: 0px;
    }

.form-group {
    width: 90%;
    left: 5%;
}

.booking-title{
    font-size: 20px;
}
}
      
@media screen and (max-width: 600px){
    .logo{
        text-align: center;
    }
    .nav-link i{
        display: none;
    }
    .nav {
        text-align: center;
    }
    .locations, .contact-us, .social-networks {
        padding-top: 10px;
        text-align: center;
    }
    .locations {
        padding-left: 0;
        padding-right: 0;
    }
    .social-list {
        font-size: 20px;
    }
    .social-title{
        padding-bottom: 0;
        padding-left: 0px;
    }
    .social-networks{
        padding-left: 0;
    }
    .address-list {
    padding-left: 3px;
    }
    
    footer {
        height: 370px;
        overflow: hidden;
    }

    .slogan {
        width: 100%;
        top: 250px;
    }

    .room-overview {
        border: 10px solid black;
    }

    .review-section {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .review-text {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

.rooms-title {
       font-size: 30px;
}

    .room-name {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .left-video {
        position: relative;
        
        width: 100%;
    }

    .right-video {
        position: relative;
        
        width: 100%;
    }

    .shipwrecked-text {
    
        width: 100%;
       padding: 0px;
    }

    .saw-text {
        width: 100%;
        padding: 0px;
    }

    .form-group {
        width: 90%;
        left: 5%;
    }

    .booking-title{
    font-size: 20px;
}
}